@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.d-block, .slick-products-list .installment,
.slick-products-list .old-price,
.slick-products-list .price,
.slick-products-list .buy-button {
  display: block;
}

html {
  font-size: 8px;
}

@media (min-width: 768px) {
  html {
    font-size: 10px;
  }
}
body {
  font-size: 1.3rem;
}

.title {
  color: #000;
}

.button {
  display: inline-block;
  text-align: center;
  height: 36px;
  line-height: 36px;
  border-radius: 8px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
}
.button.set-width {
  min-width: 200px;
}

.button.button-primary {
  background-color: #df6e1a;
  color: #fff;
}
.button.button-primary:hover {
  background-color: #c86317;
}

.button.resizable {
  height: 32px;
  width: 32px;
  line-height: 32px;
}
.button.resizable .icon {
  display: inline-block;
  font-size: 22px;
}
.button.resizable .text {
  display: none;
}
@media (min-width: 768px) {
  .button.resizable {
    width: 200px;
    height: 36px;
  }
  .button.resizable .icon {
    display: none;
  }
  .button.resizable .text {
    display: inline-block;
    font-size: 14px;
    line-height: 36px;
  }
}

.heading {
  padding: 15px;
  max-width: 75%;
  margin: auto;
  text-align: center;
}
.heading.over {
  position: relative;
  margin-top: -80px;
  background-color: #fff;
  left: 0;
  right: 0;
}
.heading .title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: lowercase;
}
.heading article {
  margin: 20px 0;
  font-size: 13px;
}
@media (min-width: 992px) {
  .heading {
    max-width: 950px;
    padding: 30px 125px 42px;
  }
}

.section-media {
  position: relative;
}

.slick-products-list .inner {
  border: solid 1px #fff;
  padding: 8px;
  margin: 3px;
}
.slick-products-list .inner:hover {
  border-color: #d3d3d3;
}
.slick-products-list .inner:hover .button {
  display: block;
}
.slick-products-list .caption {
  height: 145px;
  position: relative;
}
.slick-products-list .title {
  font-size: 14px;
  text-transform: capitalize;
  height: 32px;
  margin: 10px 0;
  overflow: hidden;
  text-align: inherit;
}
.slick-products-list .installment,
.slick-products-list .old-price,
.slick-products-list .price,
.slick-products-list .buy-button {
  margin: 10px 0;
}
.slick-products-list .installment,
.slick-products-list .old-price {
  font-size: 11px;
  height: 12px;
}
.slick-products-list .price {
  font-size: 1.6rem;
}
.slick-products-list .button {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .slick-products-list .caption {
    text-align: center;
  }
  .slick-products-list .button {
    left: 0;
    margin: auto;
  }
}

.slick-products-list .slick-arrow {
  height: 35px;
  width: 25px;
  filter: invert(1);
}
.slick-products-list .slick-arrow:before, .slick-products-list .slick-arrow:after {
  content: "";
}
.slick-products-list .slick-dots {
  bottom: -50px;
}
.slick-products-list .slick-dots button::before {
  border: solid 1px #000;
  height: 5px;
  content: "";
  width: 25px;
  border-radius: 5px;
}
.slick-products-list .slick-dots .slick-active button {
  margin: 0;
}
.slick-products-list .slick-dots .slick-active button:before {
  background-color: #000;
}

.panel-rating {
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px 0;
}
.panel-rating .aside {
  width: 55%;
  padding: 1% 15% 0 5%;
}
.panel-rating .image {
  width: 45%;
}
.panel-rating .rating img {
  width: 3rem;
}
.panel-rating article > * {
  margin: 15px 0;
}
.panel-rating .title {
  font-weight: 400;
  font-size: 15px;
}
.panel-rating .text {
  font-size: 2.5rem;
}
@media (max-width: 992px) {
  .panel-rating .aside {
    padding: 0 10px 0 10px;
  }
  .panel-rating .aside .button {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  .panel-rating .image {
    overflow: hidden;
  }
  .panel-rating .image img {
    max-width: initial;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 400px;
  }
}

.panel-product {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 20px;
}
.panel-product .aside {
  width: 51%;
  position: relative;
}
.panel-product .image {
  width: 49%;
}
.panel-product .discount {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #545454;
  color: #fff;
  padding: 3px 12px;
  font-size: 15px;
}
.panel-product .title {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 30px 0;
  max-width: 300px;
}
.panel-product .desc {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
.panel-product .installment,
.panel-product .price {
  margin: 10px 0;
}
.panel-product del {
  font-size: 2rem;
}
.panel-product .price {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .panel-product .aside {
    padding: 0 10px 0 10px;
  }
  .panel-product .image {
    overflow: hidden;
  }
  .panel-product .image img {
    max-width: initial;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 767px) {
  .panel-product .desc {
    left: 5%;
    display: none;
  }
  .panel-product .button {
    float: right;
    margin-right: 15px;
  }
  .panel-product .image img {
    max-height: 400px;
  }
}
@media (min-width: 768px) {
  .panel-product .aside {
    padding: 1% 15% 0 5%;
  }
  .panel-product .discount {
    left: 10%;
  }
}

/*# sourceMappingURL=QDB-LP-Super-especial.css.map */
